@{
    ViewData["Title"] = "Privacy Policy";
}

<br />
<h1 style="color:forestgreen;text-align:center">Customer Management Portal</h1>
<br />

<h2 style="color:darkslateblue;text-align:center">Welcome All</h2>
